# 忽略所有以”.log”结尾的文件
*.log

# 忽略所有以”.txt”结尾的文件夹中的内容
/*.txt/

# 忽略根目录下的”build”文件夹
/x64
/OpenGL/x64

# 忽略所有以”.tmp”结尾的文件或文件夹
*.tmp
*.tlog
*.ilk


# 忽略根目录下的”config.ini”文件
/config.ini

# 忽略根目录下的”logs”文件夹以及其子文件夹中的内容
/logs/

# 忽略根目录下的””文件夹以及其子文件夹中的内容
/OpenGL/.vs

/OpenGL/OpenGL/.vs

/OpenGL/x64
/OpenGL/OpenGL/x64